body {
  font-size: 14px;
  font-family: Arial, Verdana, SunSans-Regular, Sans-Serif;
  padding-top: 60px;
  background: whiteSmoke;
}

/* links */
a {
  color:#366EB8;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

/* -----------------content--------------------- */
#content {
  padding: 10px 20px;
  width: 560px;
  float: left;
  border-right:thin solid #AAAAAA;
}

h1.title {
  font: 26px bold;
}

.action {
  float: right;
}

.project-desc {
  color: #888888;
}

.errorlist {
  color: #FF0000;
}

.repo-list li {
  border: 1px solid #CECECE;
  background: white;
  padding: 5px 10px 15px 10px;
  margin-bottom: 10px;
}

.repo-list h3 {
  font-weight: bold;
}

pre, code {
  font-family: Inconsolata, Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}

/*gbox*/

.gbox {
  border: 1px solid #CECECE;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.gbox .box-content {
  padding: 15px;
}

/* -----------footer--------------------------- */
#footer {
  margin: 0px;
  padding: 5px;
  text-align: center;
  background-color: #EEEEEE;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
