{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<form class="form-horizontal" method="post">
  <fieldset>
    <legend>Create repository for {{ project.name }}.</legend>
    {{ form|bootstrap }}
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
      {% if repo.id %}
        <a class="btn" href="{{ repo.get_absolute_url }}">{% trans "Cancel" %}</a>
      {% else %}
        <a class="btn" href="{{ project.get_absolute_url }}">{% trans "Cancel" %}</a>
      {% endif %}
    </div>
  </fieldset>
</form>

{% endblock %}
