{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="title">
    <a href="{{ repository.project.get_absolute_url }}">{{ repository.project.name }}</a>/<strong>{{ repository.name }}</strong></h1>

<div> 
    {% trans "git address:" %}
    <span class='git-addr'>{{ repository.gitAddres }}</span>
</div>

<ul class="action">
    <li><a href="{% url edit_repo repository.project.slug repository.slug %}">{% trans "Admin" %}</a></li>
</ul>
<div class="project-desc clear">{{ repository.description }}</div>
{% endblock %}
