{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="title">{{ project.name }}</h1>
<ul class="action">
    <li><a href="{% url create_repo project.slug %}">{% trans "New repository" %}</a></li>
    <li><a href="{% url edit_project project.slug %}">{% trans "Admin" %}</a></li>
</ul>
<div class="project-desc clear">{{ project.description }}</div>
<hr/>
<h2>{% trans "Repositories" %}</h2>
<ul class="repo-list">
    {% if repositories %}
        {% for repo in repositories %}
        <li>
            <a href="{{repo.get_absolute_url}}">{{repo.name}}</a>
            <span class='git-addr'>{{repo.gitAddres}}</span>
        </li>
        {% endfor %}
    {% else %}
    {% trans "No repositories yet." %}
    {% endif%}
</ul>
{% endblock %}
