{% extends "base.html" %}
{% load i18n %}
{% block css %}
<link type="text/css" href="/static/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" media="screen" />
{% endblock %}
{% block content %}
<h1 class="title">{{ project.name }}</h1>
<div class="action btn-group">
  <a class="btn" href="{% url create_repo project.slug %}">{% trans "New repository" %}
  </a><a class="btn" href="{% url list_project_members project.slug %}">{% trans "Members" %}
  </a><a class="btn" href="{% url edit_project project.slug %}">{% trans "Admin" %}</a>
</div>
<div class="project-desc clear">{{ project.description|urlize|linebreaks }}</div>
<hr/>
<h2>{% trans "Repositories" %}</h2>
<ul class="repo-list unstyled">
  {% if repositories %}
    {% for repo in repositories %}
    <li>
      <h3><a href="{{repo.get_absolute_url}}">{{repo.name}}</a></h3>
      <code class='git-addr'>{{repo.gitAddres}}</code>
      <a class="iframe" href="{% url gitweb %}?p={{repo.gitwebPath}}" target="_blank">gitweb</a>
    </li>
    {% endfor %}
    {% else %}
    {% trans "No repositories yet." %}
  {% endif%}
</ul>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="/static/js/gitube.js?a"></script>
{% endblock %}
