{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="title">
    <a href="{{ repository.project.get_absolute_url }}">{{ repository.project.name }}</a> / <strong>{{ repository.name }}</strong></h1>

<div> 
    {% trans "git address:" %}
    <code class='git-addr'>{{ repository.gitAddres }}</code>
</div>

<ul class="action">
    <li><a href="{% url edit_repo repository.project.slug repository.slug %}">{% trans "Admin" %}</a></li>
    <li><a href="{% url gitweb %}?p={{repository.gitwebPath}}" target="_blank">gitweb</a></li>
</ul>
<div class="project-desc clear">{{ repository.description|urlize|linebreaks }}</div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="/static/js/copier.js"></script>
{% endblock %}
