{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<title>gitube</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
{% block css %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{% url home %}">gitube</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" 
              data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url public_keys_home %}">{% trans "Manage public keys" %}</a></li>
              <li><a href="{% url auth_password_change %}">{% trans "Change password" %}</a></li>
            </ul>
          </li> 
          <li class="divider-vertical"></li>
          <li><a href="{% url user_signout %}">{% trans "Sign out" %}</a></li>
          {% else %}
          <li><a href="{% url user_signin %}">{% trans "Sign in" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span8">
      {% block content %}{% endblock %}
    </div>
    <div class="span4">
        {% block sidebar %}{% endblock %}
    </div>
  </div>
  <hr />
  <footer class="footer">
    footer
  </footer>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>
