{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
  <div class="span4">
    <h2>{% trans "My Projects:" %}</h2>
    <ul class="unstyled project-list">
        {% if projects %}
          {% for p in projects %}      
            <li><a href="{{ p.get_absolute_url }}">{{p.name}}</a></li>
          {% endfor%}
        {% else %}
          {% trans "You have no project yet." %}
        {% endif %}
    </ul>
  </div>

  <div class="span4">
    <h2>{% trans "Projects I have joined." %}</h2>
    <ul class="project-list">
    {% if projectRoles %}
          {% for r in projectRoles %}
          <li><a href="{{ r.project.get_absolute_url }}">{{r.project.name}}</a></li>
          {% endfor%}
    {% else %}
      {% trans "You have not joined any project yet." %}
    {% endif %}
    </ul>
  </div>
</div>
{% else %}
    You are not signed in.
{% endif %}

{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
      <a class="btn btn-primary" href="{% url create_project %}">
          {% trans "Create a new project" %}
      </a>
    {% endif %}
{% endblock %}
