body {
font-size: 14px;
font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}


/* ----------container to center the layout-------------- */
#container {
width: 960px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}

/* ----------header-------------- */
#header {
padding: 5px 10px;
margin: 0px;
height: 30px;
background:#EEEEEE;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 6px;
-webkit-border-bottom-left-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
}

#header .logo {
float: left;
}

.userbox {
float: right;
}

/* -----------------content--------------------- */
#content {
padding: 0px;
width: 600px;
float: left;
}

pre{
padding: 5px 10px;
margin:0px;
}

/* --------------sidebar------------- */
#sidebar {
float: right;
width: 350px;
margin: 0px;
padding: 0px;
}

/* -----------footer--------------------------- */
#footer {
clear: both;
margin: 0px;
padding: 0px;
}
